.player-container {
    gap: 16px;
    --player-color: firebrick;
}

.player-container.player-video {
    display: flex;
}

.player-container.player-audio {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.player-container video {
    width: 100%;
    display: block;
}

.player-poster.front + video {
    display: none;
}

.player-poster {
    display: none;
    position: relative;
    inset: 0;
    width: 100%;
}

.player-poster.front {
    display: block;
}

.player-container button {
    padding: 0 12px;
    margin: 0;
    appearance: none;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.player-container button:hover {
    box-shadow: none;
}

.player-container button[disabled] {
    color: #BBB;
    cursor: default;
}

.player-aspect {
    position: relative;
    width: 100%;
}

.player-aspect:fullscreen {
    background: #000;
}

.player-aspect:fullscreen video,
.player-aspect:fullscreen img.player-poster {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.player-aspect.buffering:not(.paused) {
    cursor: progress;
}

.player-cellophane {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
}

.player-video .player-controls {
    color: #FFF;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    opacity: 0;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    transition: opacity 0.3s ease;
}

.player-audio .player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1c1c1c;
    color: #fff;
    padding: 50px 25px 30px;
    gap: 8px;
}

.player-controls > .player-controlset {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container button.player-control-big {
    background: #fff;
    color: #222;
    border-radius: 50%;
    padding: 16px;
    height: 1em;
    min-height: initial;
    font-size: 1.2em;
}

.player-control-big.fa-play::before {
    margin-right: -3px;
}

.player-aspect.paused .player-controls,
.player-aspect:hover .player-controls,
.player-controls:focus-within {
    opacity: 1;
}

.player-controls button {
    width: 1em;
    box-sizing: content-box;
    color: #FFF;
}

.player-controls input[type="range"] {
    appearance: none;
    background: none;
    height: initial;
}

.player-controls input[type="range"]::range-track {
    background: linear-gradient(to right,
        var(--player-color) 0%,
        var(--player-color) var(--value, 0%),
        rgba(128, 128, 128, 0.4) var(--value, 0%),
        rgba(128, 128, 128, 0.4) 100%);
    width: 100%;
    height: 6px;
    border-radius: 6px;
    cursor: pointer;
    appearance: none;
}

.player-controls input[type="range"]::range-thumb {
    width: 14px;
    height: 14px;
    margin-top: -4px;
    background: #FFF;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
}

.player-timecode-container {
    position: relative;
    flex-grow: 1;
    margin: 0 6px;
    line-height: 0;
}

.player-timecode {
    width: 100%;
    position: relative;
    z-index: 2;
}

.player-timecode-tooltip {
    position: absolute;
    bottom: 16px;
    left: var(--mouseX);
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 1;
    padding: 5px 7px;
    background: #FFF;
    color: #666;
    border-radius: 3px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 0 4px);
    opacity: 0;
    z-index: 3;
    transition: opacity 0.2s;
}

.player-timecode-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
}

.player-timecode-container:hover .player-timecode-tooltip {
    opacity: 1;
}

.player-buffer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -3px;
}

.player-controls progress {
    appearance: none;
    background: none;
    height: 6px;
    border: none;
    border-radius: 6px;
}

.player-controls progress::-webkit-progress-bar {
    background: none;
}

.player-controls progress::-webkit-progress-value {
    background: rgba(0, 0, 0, 0.15);
}

.player-controls progress::-moz-progress-bar {
    background: rgba(0, 0, 0, 0.15);
}

.player-duration,
.player-timecode-label {
    font-size: 14px;
    padding: 6px;
}

.player-volume {
    min-width: 30px;
    max-width: 120px;
    margin-right: 10px;
}

.player-compact .player-volume {
    max-width: 90px;
}

.player-settings-container {
    position: relative;
}

ul.player-settings-list {
    position: absolute;
    display: none;
    list-style: none;
    text-align: left;
    bottom: 16px;
    right: 10px;
    padding: 12px 18px;
    font-size: 16px;
    line-height: 26px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.player-settings-container.active > ul.player-settings-list {
    display: block;
}

.player-settings::before {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.15s ease-in-out;
}

.player-settings-container.active > .player-settings::before {
    transform: rotate(30deg);
}

.player-settings-list .radio {
    display: block;
    position: relative;
}

.player-settings-list .radio::before {
    content: '';
    width: 1.1em;
    height: 1.1em;
    border: 2px solid var(--player-color);
    vertical-align: text-top;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.player-settings-list .radio.checked::before {
    border-width: 0.4em;
}

.player-settings-list li a {
    color: #000;
    opacity: 0.65;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
}

.player-settings-list li a:not(.checked) {
    cursor: pointer;
}

.player-settings-list li a:hover,
.player-settings-list a.checked {
    opacity: 1;
}

.player-container button.player-skip-forward,
.player-container button.player-skip-backward {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.player-container button.player-skip-forward {
    background-image: url('../img/skip-forward.svg');
}

.player-container button.player-skip-backward {
    background-image: url('../img/skip-backward.svg');
}

.player-video .player-sidebar {
    width: 400px;
}

.player-audio .player-sidebar {
    height: 500px;
}

.player-sidebar {
    flex-shrink: 0;
    background: #f5f5f5;
    border: 1px solid #eee;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.player-sidebar,
.player-aspect,
.player-audio .player-controls {
    border-radius: 8px;
    overflow: hidden;
}

.player-sidebar video {
    display: none;
}

.player-header {
    padding: 40px 30px 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease;
}

.player-header.scrolled {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.player-header select {
    width: unset;
    background-color: transparent;
    padding: 0 30px 0 0;
    border: none;
    font-weight: bold;
    color: #000;
}

.player-close {
    float: right;
}

.player-track-container {
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
}

.player-sidebar.loading > .player-header {
    display: none;
}

.player-sidebar.loading > .player-track-container::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f1ce';
    position: relative;
    display: inline-block;
    top: 45%;
    left: 50%;
    color: #777;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.player-track {
    position: absolute;
    left: 0;
    padding: 0 30px 30px;
}

.player-track:not(.active) {
    display: none;
}

.player-track p {
    opacity: 0.6;
    margin: 0 0 15px;
}

.player-track p:hover,
.player-track p.active {
    opacity: 1;
    cursor: pointer;
}

.player-track p.active {
    font-weight: 500;
}

.player-track p span[title]::before {
    content: attr(title) ": ";
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .player-container.player-video {
        flex-direction: column;
    }
    
    .player-container.player-audio {
        grid-auto-flow: row;
    }
    
    .player-video .player-sidebar {
        width: 100%;
        height: 400px;
    }
    
    .player-header {
        padding: 30px 25px 10px;
    }
    
    .player-track {
        padding: 0 25px 15px;
    }
}

#media-metadata .player-container.player-video {
    flex-direction: column;
}

#media-metadata .player-container.player-audio {
    grid-auto-flow: row;
}

#media-metadata .player-sidebar {
    width: 100%;
    height: 400px;
}

.center.file {
    display: block !important;
    clear: both;
}

@media screen and (max-width: 640px) {
    .player-container button {
        padding: 0 8px;
    }
    
    .player-video .player-controls {
        padding: 8px 16px;
    }
    
    .player-volume,
    .player-mute {
        display: none;
    }
    
    ul.player-settings-list {
        font-size: 13px;
        line-height: 24px;
    }
}