.vimeo-container {
    display: flex;
}

.vimeo-aspect {
    position: relative;
    width: 100%;
}

.vimeo-aspect::after {
    padding-top: calc(var(--aspect-height) / var(--aspect-width) * 100%);
    display: block;
    content: '';
}

.vimeo-aspect iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vimeo-sidebar {
    width: 400px;
    flex-shrink: 0;
    background: #e6e6e6;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.vimeo-sidebar video {
    display: none;
}

.vimeo-header {
    padding: 50px 30px 15px;
}

.vimeo-header select {
    width: unset;
    background-color: transparent;
    padding: 0 30px 0 0;
    border: none;
    font-weight: bold;
    color: #000;
}

#vimeo-close {
    float: right;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

.vimeo-track-container {
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
}

.vimeo-track {
    position: absolute;
    left: 0;
    padding: 0 30px 30px;
}

.vimeo-track p {
    opacity: 0.6;
    margin: 0 0 15px;
}

.vimeo-track p:hover,
.vimeo-track p.active {
    opacity: 1;
    cursor: pointer;
}

.vimeo-track p.active {
    font-weight: 500;
}

.vimeo-track p span[title]::before {
    content: attr(title) ": ";
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .vimeo-container {
        display: block;
    }
    
    .vimeo-sidebar {
        width: 100%;
        height: 400px;
    }
    
    .vimeo-header {
        padding: 30px 25px 10px;
    }
    
    .vimeo-track {
        padding: 0 25px 15px;
    }
}

#media-metadata .vimeo-container {
    display: block;
}

#media-metadata .vimeo-sidebar {
    width: 100%;
    height: 400px;
    padding: 25px;
}

#media-metadata .vimeo-aspect > iframe {
    height: 100% !important;
}